{% extends 'blog/base.html' %}

{% block title %}
    {% if is_update %}
        Edit Post: {{ post.title }}
    {% else %}
        Create a New Post
    {% endif %}
{% endblock %}

{% block content %}
    <h2>
        {% if is_update %}
            Edit Post: {{ post.title }}
        {% else %}
            Create a New Post
        {% endif %}
    </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if is_update %}Update Post{% else %}Create Post{% endif %}</button>
    </form>
    <a href="{% url 'blog:post_list' %}">Back to Post List</a>
{% endblock %}
